<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- <env name="ROSCONSOLE_CONFIG_FILE" value="$(find dynamic_gap)/config/custom_rosconsole.conf"/> -->

  <node name="mbf_cmd_vel_relay" pkg="topic_tools" type="relay" args="cmd_vel_internal cmd_vel" />

  <!-- Arguments -->
  <arg name="model" />
  <arg name="speed" />

  <arg name="namespace" />
  <arg name="frame" />

  <node pkg="mod_rto_scan" type="mod_rto_scan" name="mod_rto_scan" output="log" />

  <!-- <node pkg="dynamic_gap"
        type="fmm_distance_node.py"
        name="fmm_distance_node"
        output="screen">
  <param name="occ_threshold" value="50"/>
  <param name="treat_unknown_as_obstacle" value="true"/>
 </node> -->

   <!-- GRU pedestrian-density prediction node for Dynamic Gap scoring -->
  <!-- <node pkg="dynamic_gap"
        type="gru_gap_feature_node.py"
        name="gru_gap_feature_node"
        output="screen">

    <param name="model_path"
           value="/home/azaro/arena_ws/src/planners/dynamic_gap/ml_gap_velocity/models/2.0idle_USED_GRU_WITH_DATA_holo_0_50ped_middle_start_v1-10_30episodes_density_l1_sl5_h64_l2_bs64_lr0p001_e1000__data_dgap_26-05-17_13-50-37_gap_sector_density_gru.pt"/>

    <param name="stats_path"
           value="/home/azaro/arena_ws/src/planners/dynamic_gap/ml_gap_velocity/models/2.0idle_USED_GRU_WITH_DATA_holo_0_50ped_middle_start_v1-10_30episodes_density_l1_sl5_h64_l2_bs64_lr0p001_e1000__data_dgap_26-05-17_13-50-37_norm_stats.json"/>

    <param name="seq_len" value="5"/>
    <param name="device" value="cpu"/>

    <param name="observation_topic" value="/rto/gap_feature_observation"/>
    <param name="prediction_topic" value="/rto/gru_gap_feature_prediction"/>
    <param name="marker_topic" value="/rto/gru_gap_feature_prediction_markers"/>

  </node> -->

  <group ns="move_base_flex">
    <rosparam file="$(find arena_simulation_setup)/configs/mbf/local/dgap_local_planner_params.yaml"
      command="load" subst_value="True" />
    <rosparam
      file="$(find arena_simulation_setup)/entities/robots/$(arg model)/configs/mbf/dgap_local_planner_params.yaml"
      command="load" subst_value="True" />

    <param name="base_local_planner" value="DynamicGapPlannerROS" />
  </group>

  <!-- temp -->
  <group ns="move_base_legacy_relay">
    <rosparam file="$(find arena_simulation_setup)/configs/mbf/local/dgap_local_planner_params.yaml"
      command="load" subst_value="True" />
    <rosparam
      file="$(find arena_simulation_setup)/entities/robots/$(arg model)/configs/mbf/dgap_local_planner_params.yaml"
      command="load" subst_value="True" />
    <param name="base_local_planner" value="DynamicGapPlannerROS" />
  </group>

  <!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen"/> -->

</launch>